:root {
  /* Primary Colors */
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  /* Neutral Colors */
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
  /* Font fam */
  --ff-body: "Montserrat", sans-serif;
  --ff-heading: "Fraunces", serif;
  /* Font weight */
  --content-font-size: 0.875rem;
  --fw-regular: 500;
  --fw-bold: 700;
  /*max-content-width*/
  --max-content-width: 69.375rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Cream);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--content-font-size);
  color: var(--Grey);
  min-height: 100dvh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  color: black;
}
.eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.75rem;
}
.description {
  font-size: 1rem;
  line-height: 1.5;
}
.wrapper {
  max-width: 40rem;
  margin: 1rem 2rem;
  overflow: hidden;
  background-color: var(--White);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.3fr;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.wrapper img {
  display: block;
  max-width: 100%;
  margin: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
  grid-row: 1/2;
}
.text-wrapper {
  padding: 0.8rem 1rem;
  grid-row: 2/3;
  width: min(100%, 40rem);
}
.text-wrapper > * {
  margin: 0;
  padding: 0.5rem 0.2rem;
  align-self: flex-start;
}
.text-wrapper div > * {
  margin: 0;
  padding: 0.5rem 0;
}
.price-wrapper a:hover button,
.price-wrapper a:focus button {
  transition: all 0.1s ease-in-out;
  background-color: var(--Green-700);
  cursor: pointer;
  box-shadow: 0px 0px 5px var(--Green-500);
}
.text-wrapper button {
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--White);
  background-color: var(--Green-500);
  border: none;
  justify-self: left;
  transition: all 0.1s ease-in-out;
}
.text-wrapper .price {
  padding-left: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0 0 1rem 0;
}
.text-wrapper .price .current-price {
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  color: var(--Green-500);
}
.text-wrapper .price .original-price {
  text-decoration: line-through;
}
@media (min-width: 650px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  .wrapper picture img {
    display: block;
    max-width: 100%;
    margin: 0;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .text-wrapper {
    text-align: left;
    height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.9fr;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
  }
}
